<div id="recentPassesCard" class="card lighter padded passes flex col gap-16" data-reload-interval="15">
    <div>
        <span class="header">monthly progress</span>
    </div>
    <div>
        <canvas id="monthlyGraph"></canvas>
        <script>
            function loadMonthlyGraph() {
                // Prepare data
                const data = JSON.parse('<%- JSON.stringify(historyMonthly) %>');
                if (data.length == 0) {
                    data.push({
                        month: 'now',
                        delta: { count_completed: 0 }
                    });
                }
                if (data.length < 2) {
                    data.push(data[data.length - 1]);
                }
                // Render graph
                renderGraph(document.getElementById('monthlyGraph'), {
                    labels: data.map(dp => dp.month),
                    datasets: [
                        {
                            values: data.map(dp => dp.delta.count_completed)
                        }
                    ],
                    tooltipCallbacks: {
                        label: context => `${context.parsed.y.toLocaleString()} new passes`
                    },
                    showX: true, showY: true, showGrid: true,
                    height: 250
                });
            }
            loadMonthlyGraph();
        </script>
    </div>
    <div>
        <span class="header">recent passes (<%= recentPasses.length.toLocaleString() %> in the past 24 hours)</span>
    </div>
    <div class="beatmapNarrowContainer flex col gap-2">
        <% if (recentPasses.length === 0) { %>
        <div class="empty">No passes found.</div>
        <% } %>
        <% for (const pass of recentPasses) { %>
        <%- include('../beatmap/narrow', { beatmap: pass.beatmap, time: `Passed ${pass.timeSincePass} for ${pass.beatmap.xp.toLocaleString()} cxp` }) %>
        <% } %>
    </div>
</div>