<div id="yearlyStats" class="flex col gap-8">
    <div class="btnGroup">
        <btn data-reload-selectors="#yearlyStats" data-reload-url="?yearly_type=maps"
            class="btn <%= yearlyType == 'maps' ? 'primary' : '' %> small">
            <span class="label">map count</span>
        </btn>
        <btn data-reload-selectors="#yearlyStats" data-reload-url="?yearly_type=xp"
            class="btn <%= yearlyType == 'xp' ? 'primary' : '' %> small">
            <span class="label">cxp</span>
        </btn>
    </div>
    <div class="yearlyStatsContainer">
        <% for (const yearData of yearly) { %>
        <%- include('../statsYearEntryLine', { ...yearData, yearlyType: yearlyType }) %>
        <% } %>
    </div>
</div>