@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:wght,FILL@300,0..1&display=swap');

@font-face {
    font-family: 'Torus';
    src: url('/assets/fonts/torus/Torus-Thin.otf') format('opentype');
    font-weight: 100;
}

@font-face {
    font-family: 'Torus';
    src: url('/assets/fonts/torus/Torus-Light.otf') format('opentype');
    font-weight: 200;
}

@font-face {
    font-family: 'Torus';
    src: url('/assets/fonts/torus/Torus-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'Torus';
    src: url('/assets/fonts/torus/Torus-SemiBold.otf') format('opentype');
    font-weight: 600;
}

@font-face {
    font-family: 'Torus';
    src: url('/assets/fonts/torus/Torus-Bold.otf') format('opentype');
    font-weight: 700;
}

@font-face {
    font-family: 'Torus';
    src: url('/assets/fonts/torus/Torus-Heavy.otf') format('opentype');
    font-weight: 800;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: 1;
    flex-shrink: 0;
    min-width: 0px;
}

body {
    --bg: hsl(220, 20%, 10%);
    --text: hsl(220, 20%, 95%);
    --textDim: hsl(220, 20%, 65%);
    --accent: hsl(150, 90%, 60%);
    background: var(--bg);
    color: var(--text);
    font-family: 'Torus', sans-serif;
    font-size: 15px;
    line-height: 1;
}

p {
    font-size: 16px;
    line-height: 1.4;
    margin-bottom: 0.5em;
}

a {
    color: var(--accent);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

b {
    font-weight: 600;
    color: white;
}

img {
    user-select: none;
}

::selection {
    background: hsla(150, 90%, 70%, 50%);
}

.btn {
    --bg: hsl(220, 20%, 25%);
    --bgHover: hsl(220, 20%, 35%);
    --fg: hsl(220, 20%, 85%);
    --fgHover: white;
    height: 32px;
    padding: 0px 12px;
    font-size: 14px;
    font-weight: 600;
    border-radius: 8px;
    background: var(--bg);
    transition: 0.1s ease-in-out;
    color: var(--fg);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    user-select: none;
}

.btn:hover {
    color: var(--fgHover);
    background: var(--bgHover);
    transition: none;
    text-decoration: none;
}

.btn.primary {
    --bg: hsl(150, 90%, 60%);
    --bgHover: hsl(150, 90%, 75%);
    --fg: hsl(220, 20%, 10%);
    --fgHover: hsl(220, 20%, 5%);
}

.btn.text {
    --bg: transparent;
    --bgHover: hsl(220, 20%, 25%);
    --fg: hsl(220, 20%, 80%);
    --fgHover: white;
}

.btn.text.bright {
    --fg: white;
}

.btn.text.muted {
    --fg: hsl(220, 20%, 60%);
}

.btn.text.accent {
    --fg: var(--accent);
}

.btn.square {
    width: 32px;
    padding: 0px;
}

.btn .icon {
    font-family: 'Material Symbols Rounded';
    font-variation-settings: 'FILL' 0;
    font-weight: 300;
    font-size: 20px;
    line-height: 1;
}

.btn .icon.filled {
    font-variation-settings: 'FILL' 1;
}

.btnGroup {
    display: flex;
    gap: 2px;
}

.btnGroup .btn {
    border-radius: 2px;
}

.btnGroup .btn:first-child {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.btnGroup .btn:last-child {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

#topbar {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    height: 54px;
    padding: 0px 20px;
    background: hsl(220, 20%, 10%);
    transition: 0.1s ease-in-out;
    border-bottom: 1px solid transparent;
    z-index: 1000;
}

#topbar.scrolled {
    background: hsla(220, 20%, 12%, 70%);
    border-bottom: 1px solid hsl(220, 20%, 20%);
    backdrop-filter: blur(8px);
}

#topbar .container {
    height: 100%;
    max-width: 1000px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 16px;
}

#logo {
    font-family: 'Torus', sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 1;
    user-select: none;
    margin-top: -2px;
}

#logo .white {
    color: white;
}

#logo .green {
    color: var(--accent);
}

#topbar .buttons {
    display: flex;
    gap: 8px;
}

#main {
    max-width: 1000px;
    margin: 0 auto;
    margin-top: calc(54px + 16px);
    padding: 0px 10px 20px 10px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.card {
    background: hsl(220, 20%, 15%);
    border-radius: 16px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    padding: 8px;
    overflow: hidden;
}

.card.lighter {
    background: hsl(220, 20%, 18%);
}

.card.warning {
    background: hsl(40, 90%, 70%);
    color: hsl(40, 90%, 20%);
    padding: 12px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.card.warning>.icon {
    font-family: 'Material Symbols Rounded';
    font-weight: 300;
    font-size: 32px;
    line-height: 1;
    flex-shrink: 0;
    user-select: none;
}

.card.warning>.text {
    display: block;
    min-width: 0;
    white-space: normal;
    word-break: normal;
    overflow-wrap: normal;
    text-overflow: clip;
    overflow: visible;
    flex-shrink: 1;
}

.card.warning p {
    line-height: 1.2;
    margin: 0px;
}

.card.warning b {
    color: inherit;
}

.card .header {
    font-size: 16px;
    padding-bottom: 4px;
    border-bottom: 2px solid var(--accent);
    font-size: 16px;
    font-weight: 600;
    color: white;
    display: inline-block;
}

#footer * {
    color: hsl(220, 20%, 40%);
    font-size: 13px;
    text-align: center;
    margin-top: 20px;
}

#footer a {
    text-decoration: underline;
}

#error {
    max-width: 600px;
    text-align: center;
    margin: 30px auto;
}

#error h1 {
    font-size: 64px;
    color: var(--textDim);
    font-weight: 200;
    margin-bottom: 16px;
}

#statSettings {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
}

#statSettings .section {
    display: flex;
    gap: 8px;
}

#statSettings .section.mode {
    flex-grow: 1;
}

@media (max-width: 700px) {
    #statSettings {
        flex-direction: column;
        align-items: center;
    }

    #statSettings .section.mode {
        flex-grow: 0;
    }
}

#leaderboard,
#profile {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

#leaderboard>.card {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 12px 8px;
}

#leaderboard .entries {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

#leaderboard .entry {
    position: relative;
    border-radius: 8px;
    background: hsl(220, 20%, 18%);
    overflow: hidden;
    color: inherit;
    user-select: none;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
}

#leaderboard .entry .banner {
    position: absolute;
    top: 0px;
    left: 0px;
    max-width: 500px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}

#leaderboard .entry .dimming {
    position: absolute;
    top: 0px;
    left: 0px;
    max-width: 500px;
    width: 100%;
    height: 100%;
    z-index: 0;
    background: radial-gradient(circle at top left, hsla(220, 20%, 18%, 60%), hsl(220, 20%, 18%));
}

#leaderboard .entry .bar {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 0%;
    height: 2px;
    background: hsla(150, 90%, 60%, 50%);
    border-radius: 2px;
}

#leaderboard .entry .content {
    position: relative;
    height: 50px;
    display: flex;
    padding: 2px 8px;
    align-items: center;
    gap: 16px;
    z-index: 2;
    transition: 0.1s ease-in-out;
}

#leaderboard .entry:hover {
    transition: none;
    text-decoration: none;
    color: inherit;
}

#leaderboard .entry:hover .content {
    background: hsla(220, 20%, 50%, 0.2);
    transition: none;
}

#leaderboard .entry .profile,
#leaderboard .entry .stats {
    display: flex;
    align-items: center;
}

#leaderboard .entry .profile {
    display: flex;
    align-items: center;
    gap: 8px;
    flex-grow: 1;
}

#leaderboard .entry .stats {
    gap: 16px;
    padding-right: 8px;
}

@media (max-width: 550px) {
    /* move stats to their own line */

    #leaderboard .entry .profile {
        flex-wrap: wrap;
    }

    #leaderboard .entry .content {
        height: auto;
        padding: 8px;
    }

    #leaderboard .entry .stats {
        width: 100%;
    }
}

#leaderboard .entry .rank {
    min-width: 32px;
    font-size: 14px;
    text-align: right;
    font-weight: 600;
}

#leaderboard .entry .profile .avatar {
    height: 40px;
    border-radius: 8px;
    background: hsl(220, 20%, 25%);
    object-fit: cover;
}

#leaderboard .entry .profile>.name {
    flex-grow: 1;
    font-size: 16px;
    font-weight: bold;
    margin-top: -1px;
    color: white;
}

#leaderboard .entry .stat {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

#leaderboard .entry .stat .name {
    color: var(--textDim);
    font-size: 13px;
    font-weight: 600
}

#leaderboard .entry .stat .value {
    color: white;
    font-size: 20px;
    font-weight: 400;
}

#leaderboard .pages {
    display: flex;
    gap: 4px;
    justify-content: center;
}

#leaderboard .pages .dots {
    height: 32px;
    display: flex;
    align-items: center;
    color: var(--textDim);
}

#profile>.card:not(.warning) {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

#profile .banner {
    width: 100%;
    border-radius: 8px;
}

#profile .basics {
    display: flex;
    gap: 16px;
    padding: 0px 32px;
    align-items: flex-end;
}

#profile .basics>.text {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 16px 0px;
}

#profile .basics * {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#profile .avatar {
    width: 128px;
    height: 128px;
    margin-top: -64px;
    border-radius: 32px;
    border: 4px solid hsl(220, 20%, 15%);
    background: hsl(220, 20%, 25%);
}

#profile .basics .name {
    font-size: 28px;
    font-weight: bold;
    color: white;
}

#profile .stats {
    padding: 0px 32px;
    display: flex;
    gap: 16px 32px;
    flex-wrap: wrap;
}

#profile .stats .group {
    display: flex;
    gap: 16px 32px;
    flex-wrap: wrap;
    flex-shrink: 1;
}

#profile .stats .stat {
    display: flex;
    flex-direction: column;
}

#profile .stats .group.grow {
    flex-grow: 1;
}

#profile .stats .stat .key {
    color: var(--textDim);
    font-size: 16px;
    font-weight: 600;
}

#profile .stats .stat .value {
    color: white;
    font-size: 32px;
    font-weight: 200;
}

#profile .passes {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px 12px 12px 12px;
}

#profile .passes .entries {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

#profile .passes .entry {
    padding: 8px;
    border-radius: 8px;
    display: flex;
    gap: 8px;
    background: hsl(220, 20%, 22%);
    align-items: center;
}

#profile .passes .entry>.icon {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    flex-shrink: 0;
}

#profile .passes .entry .details {
    display: flex;
    gap: 8px;
    flex-grow: 1;
    align-items: center;
}

#profile .passes .entry * {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    min-width: 0px;
    flex-shrink: 1;
}

#profile .passes .entry .map {
    display: flex;
    flex-direction: column;
    gap: 4px;
    flex-grow: 1;
}

#profile .passes .entry .map .title {
    font-weight: bold;
    color: white;
    font-size: 16px;
}

#profile .passes .entry .map .artist {
    color: var(--textDim);
    font-size: 12px;
    margin-left: 2px;
}

#profile .passes .entry .map .diff {
    display: flex;
    align-items: center;
    gap: 8px;
}

#profile .passes .entry .map .stars {
    width: 55px;
    padding: 2px 0px;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
}

#profile .passes .entry .map .stars .icon {
    font-family: 'Material Symbols Rounded';
    font-variation-settings: 'FILL' 1;
    font-weight: 300;
    font-size: 14px;
    line-height: 1;
}

#profile .passes .entry .map .stars .value {
    font-weight: 600;
    font-size: 13px;
}

#profile .passes .entry .map .name {
    font-size: 14px;
    font-weight: 600;
}

#profile .passes .entry .time {
    font-size: 14px;
    color: var(--textDim);
    flex-shrink: 0;
}

@media (max-width: 550px) {

    #profile .basics,
    #profile .stats {
        padding: 0px 16px;
    }

    #profile .avatar {
        width: 96px;
        height: 96px;
        margin-top: -48px;
    }

    #profile .basics .name {
        font-size: 22px;
    }

    #profile .stats,
    #profile .stats .group {
        gap: 8px 16px;
        flex-wrap: wrap;
    }

    #profile .stats .stat {
        gap: 2px;
    }

    #profile .stats .stat .key {
        font-size: 14px;
    }

    #profile .stats .stat .value {
        font-size: 24px;
    }

    #profile .passes .entry .details {
        flex-wrap: wrap;
        gap: 2px;
    }

    #profile .passes .entry .time {
        flex-basis: 100%;
    }
}