#main {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#home {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 48px;
    padding: 80px 16px 24px 16px;
}

#home .header {
    display: flex;
    flex-direction: column;
    gap: 16px;
    text-align: center;
    align-items: center;
}

#home .logo {
    font-weight: 600;
    font-size: 54px;
    display: flex;
}

#home .logo .white {
    color: white;
}

#home .logo .green {
    color: var(--accent);
}

#home .slogan {
    color: var(--textDim);
    font-size: 20px;
    font-weight: 400;
    line-height: 1.2;
}

#home .actions {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
}

#home .actions .buttons {
    display: flex;
    gap: 12px 16px;
    flex-wrap: wrap;
    justify-content: center;
}

#home .actions .or {
    font-size: 18px;
    color: var(--text);
}

#home .actions .search {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 600px;
}

#home .actions .search .textbox {
    width: 300px;
}

#home .stats {
    display: flex;
    gap: 16px 24px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#home .stats .card {
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#home .stats .card .value {
    font-size: 36px;
    font-weight: 600;
    color: var(--accent);
}

#home .stats .card .label {
    font-size: 18px;
    font-weight: 400;
    color: var(--text);
}

@media (max-width: 500px) {
    #home .logo {
        font-size: 42px;
    }

    #home .stats {
        flex-direction: column;
        width: 100%;
    }

    #home .stats .card {
        width: 100%;
    }
}