#leaderboard {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

#leaderboard>.card {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 12px 8px;
}

#leaderboard .entries {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

#leaderboard .entry {
    position: relative;
    border-radius: 8px;
    background: hsl(220, 20%, 10%);
    overflow: hidden;
    color: inherit;
    user-select: none;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
}

#leaderboard .entry>.overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: 0.1s ease-in-out;
}

#leaderboard .entry:hover {
    transition: none;
    text-decoration: none;
    color: inherit;
}

#leaderboard .entry:hover>.overlay {
    background: hsla(220, 20%, 50%, 0.2);
    transition: none;
}

#leaderboard .entry .rank {
    min-width: 64px;
    padding: 0px 12px;
    font-size: 14px;
    text-align: center;
    font-weight: 600;
    flex-shrink: 0;
}

#leaderboard .entry .content {
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    background: hsl(220, 20%, 20%);
}

#leaderboard .entry .profile {
    position: relative;
    border-radius: 12px;
    overflow: hidden;
    padding: 4px;
}

#leaderboard .entry .banner {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
    z-index: 0;
}

#leaderboard .entry .dimming {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 0;
    background: linear-gradient(to right, hsla(220, 20%, 12%, 60%), hsl(220, 20%, 12%));
}

#leaderboard .entry .profile .text,
#leaderboard .entry .profile .avatar {
    position: relative;
}

#leaderboard .entry .profile .avatar {
    height: 48px;
    border-radius: 12px;
    background: hsl(220, 20%, 25%);
    object-fit: cover;
    flex-shrink: 0;
}

#leaderboard .entry .profile .name {
    font-size: 18px;
    font-weight: bold;
    margin-top: -1px;
    color: white;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

#leaderboard .entry .profile .flags>div .flag {
    height: 16px;
    border-radius: 4px;
    flex-shrink: 0;
}

#leaderboard .entry .profile .flags>div .name {
    font-size: 14px;
    font-weight: 400;
    color: white;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

#leaderboard .entry .statsCont {
    padding: 4px 16px;
}

#leaderboard .entry .stats {
    gap: 4px 16px;
}

#leaderboard .entry .stat {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

#leaderboard .entry .stat .name {
    color: var(--textDim);
    font-size: 13px;
    font-weight: 600
}

#leaderboard .entry .stat .value {
    color: hsl(220, 20%, 80%);
    font-size: 20px;
    font-weight: 400;
}

#leaderboard .entry .stat .value.primary {
    color: white;
}

#leaderboard .entry .content .bar {
    position: relative;
    width: 100%;
    height: 2px;
    background: hsl(220, 20%, 12%);
    border-radius: 4px;
    margin-top: 6px;
}

#leaderboard .entry .content .bar .filling {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    border-radius: 4px;
}

@media (max-width: 900px) {
    #leaderboard .entry .content {
        flex-direction: column;
        align-items: unset;
    }

    #leaderboard .entry .statsCont {
        padding: 8px;
    }

    #leaderboard .entry .stats {
        justify-content: center;
    }

    #leaderboard .entry .stats>div {
        align-items: center;
    }
}

#leaderboard .pages {
    display: flex;
    gap: 4px;
    justify-content: center;
}

#leaderboard .pages .dots {
    height: 32px;
    display: flex;
    align-items: center;
    color: var(--textDim);
}