#main {
    max-width: 1500px;
}

#recommended .settings {
    padding: 8px;
}

@media (max-width: 800px) {
    #recommended .settings {
        flex-direction: column;
    }

    #recommended .settings>* {
        width: 100%;
    }
}

#recommended .noResults {
    padding: 64px 16px;
    color: var(--textDim);
    text-align: center;
}

#recommended .noResults p {
    font-size: 18px;
    margin: 0px;
}

#recommended .noResults .icon {
    font-family: "Material Symbols Rounded";
    font-size: 96px;
}