main {
    max-width: 1500px;
}

#recommended .settings {
    padding: 8px;
}

#recommended .settings .hint {
    gap: 2px 8px;
}

#recommended .settings .hint .status {
    font-size: 14px;
    color: var(--text-dim);
    line-height: 1.2;
}

@media (max-width: 800px) {
    #recommended .settings .inputs {
        flex-direction: column;
    }
}

#recommended .noResults {
    padding: 64px 16px;
    color: var(--text-dim);
    text-align: center;
}

#recommended .noResults p {
    font-size: 18px;
    margin: 0px;
}

#recommended .noResults .icon {
    font-family: "Material Symbols Rounded";
    font-size: 96px;
}