#main {
    max-width: 1500px;
}

#recommended .settings {
    padding: 8px 12px 0px 12px;
}

#recommended .settings .controls .row {
    display: flex;
    flex-direction: row;
    gap: 8px 24px;
    flex-wrap: wrap;
}

@media (max-width: 700px) {
    #recommended .settings {
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    #recommended .controls .setting {
        width: 100%;
        flex-basis: 100%;
    }
}

#recommended .setting {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

#settingYear,
#settingMinStars,
#settingMaxStars {
    width: 100px;
}

#recommended .setting .label {
    font-size: 14px;
    color: var(--textDim);
}