<div id="queue" class="card padded flex col gap-16" data-reload-interval="30">
    <div>
        <span class="header">In progress (<%= results.in_progress.length %>)</span>
    </div>
    <% if (results.in_progress.length) { %>
    <div class="userCardContainer">
        <% for (const user of results.in_progress) { %>
        <% if (!user) continue; %>
        <%- include('../partials/userCard', { user }) %>
        <% } %>
    </div>
    <% } else { %>
    <div class="empty">No users are being imported at this time.</div>
    <% } %>
    <div>
        <span class="header">Queued (<%= results.waiting.length %>)</span>
    </div>
    <% if (results.waiting.length) { %>
    <div class="userCardContainer">
        <% for (const user of results.waiting) { %>
        <%- include('../partials/userCard', { user }) %>
        <% } %>
    </div>
    <% } else { %>
    <div class="empty">The update queue is empty.</div>
    <% } %>
</div>