<section id="queue" class="card padded flex col gap-16" data-reload-interval="30">
    <div>
        <h2 class="header">In progress (<%= results.in_progress.length %>)</h2>
    </div>
    <% if (results.in_progress.length) { %>
    <div class="userCardContainer">
        <% for (const user of results.in_progress) { %> <% if (!user) continue; %> <%- include('../partials/userCard', {
        user }) %> <% } %>
    </div>
    <% } else { %>
    <div class="empty">No users are being imported at this time.</div>
    <% } %>
    <div>
        <h2 class="header">Queued (<%= results.waiting.length %>)</h2>
    </div>
    <% if (results.waiting.length) { %>
    <div class="userCardContainer">
        <% for (const user of results.waiting) { %> <%- include('../partials/userCard', { user }) %> <% } %>
    </div>
    <% } else { %>
    <div class="empty">The update queue is empty.</div>
    <% } %>
</section>
