<div class="card" id="apiDocs">

    <h1>osu!complete API Documentation</h1>
    <p>Thanks for showing interest in integrating osu!complete into your own projects. The goal of this API is to expose
        just the right amount of data so that developers like you can build amazing tools and visualizations around the
        completion data we collect here.</p>
    <p>Please note that this API is in beta and breaking changes can be applied at any time. A best effort will be made
        to keep this documentation up to date, and to announce those changes on the Discord server, linked in the top
        bar.</p>

    <h2>Base URL</h2>
    <p>All API endpoints lie under the base URL:</p>
    <p><code>https://osucomplete.org/v1</code></p>

    <h2>Authentication</h2>
    <p>All API endpoints require authentication using standard bearer token syntax:</p>
    <p><code>Authorization: Bearer YOUR_API_KEY</code></p>
    <p></p>

    <h2>Endpoints</h2>
    <p>Coming soon...</p>

    <h2>Object Structures</h2>
    <p>Coming soon...</p>


</div>
<style>
    #apiDocs {
        padding: 24px 16px;
    }
</style>